body {
  font-family: 'Montserrat', sans-serif;
 
}


.main {

  margin-top: 25%;
  margin-bottom: 25%;
  font-family: 'Montserrat', sans-serif;
	font-size:18px;
  margin-left: auto;
  margin-right: auto;
 background: #ffcccc;
    box-shadow: 0 0px 3px #0a0a0a, 0 1px 3px #151515;
  padding: 20%;
  border-radius: 5px;
  z-index:800;
 }
  h1 {
    margin-top: -5%;
    margin-bottom: 5%;
    font-size: 1.4em;
	color:#000;
	z-index:5
  }
   .main p{font-weight:bold;color:#000}
  form {
z-index:5;
    p.noDisplayRadio{
      display: none;
    }
    p.noDisplayHeight{
      display: none;
    }
    p.noDisplayWeight{
      display: none;
    }
    p.noDisplayAge{
      display: none;
    }
    p.color {
      color: red;
	  
    }
    input.box {
      font-family: Montserrat, sans-serif;
      width: 15%;
      background: transparent;
      border: none;
      border-bottom: 1px solid;
      color: #000;
   }
    input.box::placeholder {
      color: White;
    }
    button {
      width: 20%;
      padding: 1%;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
    
      border-radius: 5px;
      border: none;
      
    }
    button:hover {
      background: #4f5954;
    }
    .bmr {
      display: none !important;
    }
    .bmr1 {
      display: none !important;
    }
    p.inline {
      display: none !important; 
    }
    hr {
      margin-top: 5%;
      
    }

 